body{
    background-color: rgb(95, 84, 238);
}
.card{
    height: 390px;
    width: 590px;
    border-radius: 10px;
    background-color:white;
    font-family: "Chivo", sans-serif;
}
.header{
    display: flex;
}
.name{
    margin: 33px 5px;
    text-align:center;
   
}
/*.info {
     display: flex;
} */
.picture{
    margin:10px 25px 35px 20px;
    border-radius: 50%;
}

.footer{
   display: flex;
justify-content: space-around;
}
.date-heure {

    flex-direction: row;
    
    display: flex; 
    /* justify-content:space-around; */
}
.text-light{
    color:#757575;
    font-weight: 400;
}
.text-regular{
    color: #282828;
    font-weight: 400;
}
.date{
    margin: 0 35px;
}
.heure>h3{
margin-left: 25px;
}
    
.texte{
    margin: 0 25px;
}