body {
    background-color: cadetblue;
}

.text-regular {
    font-weight: 400;
}
.text-light {
    font-weight: 300;
}

.card {
    margin: auto;
    height: 375px;
    width: 350px;
    border-radius: 10px;
    background-color: white;
    font-family: "Chivo", sans-serif;
}

.card-banner {
    border-radius: 10px 10px 0 0;
    background-color: red;
    width: 100%;
    height: 150px;
}
.card-info {
    text-align: center;
}
.card-info > * {
    margin: 0;
}

.card-content {
    border-top: 1px solid #aec8b773;
    margin-top: 10px;
    height: 94px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-social-number {
    text-align: center;
}
.card-social-number > * {
    margin: 0;
}

.card-picture {
    border: 3px solid white;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    margin-top: -78px;
}
